.catalog-container {
    font-family: Arial, sans-serif;
    
  }
  
  .catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 45px;
  }
  
  .header-icons svg {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .category-filters {
    display: flex;
    gap: 13px;
    margin-left: 45px;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #f0f0f0;
  }
  
  .button.active {
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
  }
  
  .catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fixed 3 columns */
   grid-template-rows: repeat(2, 0.1fr); /* For even shorter rows */
 /* Fixed 3 rows */
 border-radius: 10px;
    gap: 10px;
    margin-left: 30px;
    margin: 0 45px;
    
  }
  
  .catalog-item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    height: 150px;
  }
  
  .catalog-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
  }
  
  
  
  .item-details h3 {
    font-size: 14px;
    
    color: #333;
  }
  
  .item-details p {
    font-size: 10px;
    color: #aeb6bf;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f8f9fa;
    width: 480px;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
   
    z-index: 1000; /* Ensures it's above other elements */
  }
  
  .footer-button {
   
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .footer-button:hover {
    background-color: #e0e0e0;
  }
  
  .footer-button.primary {
    background-color: #007bff;
    color: white;
  }
  
  .footer-button.primary:hover {
    background-color: #0056b3;
  }
  